<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title3.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 #1: 리스트 생성하기

1) 리스트 a에 1, 2, 3, 4, 5를 저장하고 출력하세요.

In [1]:
a= [1, 2, 3, 4, 5]

print(a)

[1, 2, 3, 4, 5]

2) 리스트 b에 'ab', 'cd', 'ef'를 저장하고 출력하세요.

In [2]:
b = ['ab', 'cd', 'ef']

print(b)

['ab', 'cd', 'ef']

3) 리스트 c에 123, 'ab', 45, 'cde'를 저장하고 출력하세요.

In [3]:
c = [123, 'ab', 45, 'cde']
print(c)

[123, 'ab', 45, 'cde']

4) 리스트 list_a에 1, 3, 5, 7, 9를, 리스트 list_b에 1, 'a', 3, 'b'를 저장하고 각각의 리스트를 출력하세요.

In [5]:
list_a = [1, 3, 5, 7, 9]
list_b = [1, 'a', 3, 'b']
print(list_a)
print(list_b)

[1, 3, 5, 7, 9]
[1, 'a', 3, 'b']

5) range() 함수를 사용하여 0부터 20까지의 값들을 리스트 d에 저장하고 출력하세요.

In [8]:

d = list(range(0,21))
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

6) range() 함수를 사용하여 1부터 19까지 3씩 증가시킨 값들을 리스트 list_c에 저장하고 출력하세요.

In [9]:
list_c = list(range(0,20,3))
print(list_c)

[0, 3, 6, 9, 12, 15, 18]

7) 리스트 list_d에 1, 2, 3을 저장한 뒤, 리스트 list_e에 리스트 list_d와 4, 5를 저장하고 출력하세요.

In [10]:
list_d = [1, 2, 3]
list_e = [list_d , 4, 5]
print(list_e)

[[1, 2, 3], 4, 5]

8) 리스트 list1에 1, 3, 'hello'를 저장한 뒤, 리스트 list2에 리스트 list1과 'happy', 2, 4를 저장하고 출력하세요.

In [11]:
list1 = [1, 3, 'hello']
list2 = [list1, 'happy', 2, 4]
print(list2)

[[1, 3, 'hello'], 'happy', 2, 4]

# 실습 #2: 리스트 인덱싱과 슬라이싱

1) 리스트 list1에 1, 2, 3, 4, 5를 저장하고, 첫 번째 값과 마지막 값을 각각 출력하세요.

In [13]:
list1 = [1, 2, 3, 4, 5]
print(list1[0])
print(list1[-1])

1
5

2) 리스트 a에 23, 3, 16, 45, 11을 저장하고 다음 값을 출력하세요. 

- 앞에서부터 첫 번째 값과 네 번째 값을 하나의 print 함수로 출력
- 뒤에서부터 첫 번째 값과 세 번째 값을 하나의 print 함수로 출력

In [14]:
a = [23, 3, 16, 45, 11]
print(a[0], a[-2])
print(a[-1], a[-3])

23 45
11 16

3) 리스트 a에 23, 3, 16, 45, 11을 저장하고, 첫 번째 값부터 세 번째 값까지 출력하세요.

In [15]:

a = [23, 3, 16, 45, 11]
print(a[:3])

[23, 3, 16]

4) 리스트 a에 23, 3, 16, 45, 11을 저장하고, 세 번째 값부터 마지막 값까지 출력하세요.

In [16]:


a = [23, 3, 16, 45, 11]
print(a[2:])

[16, 45, 11]

5) 리스트 a에 23, 3, 16, 45, 11을 저장하고, 아래 예시와 같이 출력하세요.

- 첫 번째 줄은 순방향 인덱싱과 슬라이싱을 사용하세요.
- 두 번째 줄은 역방향 인덱싱과 슬라이싱을 사용하세요.
~~~
[3, 16, 45] [23, 3, 16] [16, 45] [16, 45, 11]
[16, 45] [] [16, 45, 11] [23]
~~~

In [21]:
a = [23, 3, 16, 45, 11]
print(a[1:4],a[0:3],a[2:4],a[2:])
print(a[-3:-1],[],a[-3:],[a[-5]])

[3, 16, 45] [23, 3, 16] [16, 45] [16, 45, 11]
[16, 45] [] [16, 45, 11] [23]

# 실습 #3: 리스트 수정하기

1) 리스트 a에 23, 3, 16, 45, 11을 저장한 뒤 append()를 사용하여 99를 추가하세요.
- 힌트: 리스트.append(추가할 값)

In [22]:
a = [23, 3, 16, 45, 11]
a.append(99)
print(a)

[23, 3, 16, 45, 11, 99]

2) 리스트 a에 23, 3, 16, 45, 11을 저장하고, append()로 99를 추가한 뒤, 리스트 + 리스트 형태를 사용하여 100을 추가하세요.

In [26]:

a = [23, 3, 16, 45, 11]
a.append(99)
a+[100]

[23, 3, 16, 45, 11, 99, 100]

3) 리스트 list1에 1, 3, 5, 7을, 리스트 list2에 2, 4, 8을 저장하고, list1의 두 번째 값을 list2에 추가하세요.

In [30]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list2.append(list1[1]) 
print(list2)

[2, 4, 8, 3]

4) 리스트 list1에 1, 3, 5, 7을, 리스트 list2에 2, 4, 8을 저장하고 list2에 list1를 추가하세요.

- 단, 리스트 + 리스트 형태를 사용하세요.

In [31]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list2 + list1

[2, 4, 8, 1, 3, 5, 7]

5) 리스트 a에 23, 3, 16, 45, 11을 저장하고 두 번째 값을 출력한 뒤 300으로 수정하고 다시 출력하세요.
- 힌트: 리스트[수정 대상 인덱스] = 수정할 값

In [32]:
a = [23, 3, 16, 45, 11]
print(a[1])
a[1] = 300
print(a)

3
[23, 300, 16, 45, 11]

6) 리스트 a에 23, 3, 16, 45, 11을 저장하고 리스트의 마지막 값을 출력한 뒤 두 배의 값으로 수정하세요.

In [33]:
a = [23, 3, 16, 45, 11]
print(a[-1])
a[-1] = 22
print(a)

11
[23, 3, 16, 45, 22]

7) 리스트 a에 23, 3, 16, 45, 11을 저장하고 두 번째 값을 삭제하세요.
- 힌트: del 리스트[삭제 대상 인덱스]

In [35]:

a = [23, 3, 16, 45, 11]
del a[1]
print(a)

[23, 16, 45, 11]

# 실습 #4: 리스트 관련 함수와 메소드

1) 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 리스트 값들의 개수를 구하세요.

- 힌트: len(리스트 이름)

In [39]:
list2 = list(range(1,21,3))
len(list2)

7

2) 리스트 list3에 'python', 'is', 'funny'를 저장하고, 리스트 값들의 개수를 구하세요.

In [40]:
list3 = ['python', 'is', 'funny']
len(list3)

3

3) 리스트 list1에 1 ~ 100 중 7의 배수를 저장하고, 리스트 값들의 합을 구하세요.

- 힌트: sum(리스트 이름)

4) 리스트 list1에 10, 20, 30, 40, 50을 저장하고, list1의 자료형을 확인하세요.

- 힌트: type(자료형)

5)) 리스트에서는 평균을 구하는 함수가 제공되지 않습니다.

- 리스트 num = [10, 21, 34, 47, 53]일 때, num의 평균을 계산하여 출력하세요.

6) 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 맨 끝에 60을 추가하세요.

7) 리스트 list3에 'python', 'is', 'funny'를 저장하고, 맨 끝에 '~', '!' 을 차례대로 추가하세요.

8) 리스트 list1에 10, 20, 30, 40, 50을 저장하고 세 번째 위치에 60을 추가하세요.
- 힌트: 리스트 이름.insert(추가할 위치의 인덱스 값, 추가할 값)

9) 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 30을 삭제하세요.

- 힌트: 리스트 이름.remove(삭제할 값)

10) 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 뒤에서 세 번째 값을 삭제하세요.

11) 리스트 a = [1, 4, 3, 2]일 때 리스트의 값들을 오름차순으로 정렬해서 출력하세요.

- 힌트: 리스트 이름.sort()

12) 리스트 b = ['c', 'a', 'b', 'd']일 때 리스트의 값들을 내림차순으로 정렬해서 출력하세요.

- 힌트: 리스트 이름.sort(reverse = True)